body {
  margin: 0; /* 페이지의 여유공간 없애버림 */
}
#content {
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 5rem 1.25rem auto 1.25rem; /* 각 grid의 width */
  grid-template-rows: 1.875rem 3.125rem auto 6.25rem; /* 각 grid의 height */
  gap: 0;
  align-items: stretch;
  grid-template-areas:
    "nav  .  setting  setting "
    "nav  .   header     .    "
    "nav  .    main      .    "
    "ad  ad     ad      ad    ";
}
header span {
  float: right;
  margin-left: 0.9375rem; /* 16 브라우저 기준 : 15px*/
  font-size: 1.375rem;
  color: gray;
}
/* 제목 사이즈 재정의 */
h1 {
  font-size: 1.375rem; /* 16px 브라우저 기준 22px*/
  font-weight: bold;
  display: inline;
}
/* 네비게이션(nav) 영역 레이아웃 지정 */
nav {
  grid-area: nav;
  background-color: rgb(208, 218, 224);
  align-self: start;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* 뷰포트(전체 화면)의 전체 100% 차지 */
}
.main-menu i,
.sub-menu i {
  display: block;
  font-size: 1.75rem;
  color: gray;
  text-align: center;
  margin-bottom: 1.25rem; /* 16 브라우저 기준 20px */
}
.main-menu {
  margin-top: 3.125rem; /* 16 브라우저 기준 50px */
}
.sub-menu {
  margin-bottom: 6.25rem; /* 16 브라우저 기준 100px */
}
/* 알림 풍선 만들어주기 */
.main-menu > *:nth-child(2),
.main-menu > *:nth-child(3) {
  position: relative;
}
.alert-balloon {
  padding: 0.125rem 0.3125rem 0.125rem 0.3125rem; /* 위.아래 2px, 좌.우 5px */
  border: 1px solid tomato;
  background-color: tomato;
  border-radius: 0.625rem; /* 10px */
  font-size: 0.3125rem; /* 5px */
  color: white;
  position: absolute;
  top: -0.3125rem; /* -5px */
  left: 3.125rem; /* 50px */
}

/* 메인(main) 영역 레이아웃 지정 */
main {
  /* 친구 리스트를 flex box로 레이아웃 구성 */
  grid-area: main;
  margin-left: 0.125rem; /* 16 브라우저 기준 2px */
}
li {
  transition-property: all;
  transition-duration: 1ms;
  transition-timing-function: linear;
  /* transition-delay: 0; */
}
li:hover {
  background-color: rgb(244, 248, 253);
}
li:active {
  /* transition-delay: 0; */
  background-color: rgb(207, 226, 250);
}
/* 헤더(header) 영역 레이아웃 지정 */
header {
  grid-area: header;
  position: sticky;
  top: 1.875rem; /* grid row의 첫번째 + gap 크기와 동일*/
  background-color: white;
}
header > * {
  /* 가운데 정렬 */
  line-height: 3.125rem; /* grid row의 두번째 크기와 동일 */
  vertical-align: middle;
}

/* 네비게이션 안의 컨텐츠 스타일 지정 = main-layout.css 참고 */
/* 메인 안의 컨텐츠 스타일 지정 */
ul {
  /* flex box 생성 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}
li {
  flex-basis: 5rem; /*16 브라우저 기준 80px */
  flex-shrink: 0;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
li > a {
  /* 안에 또 다른 flex box 생성 */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}
.profile-img {
  width: 2.2rem;
}
li .talk {
  /* 프로필 사진과 메시지(채팅) 내용 사이 간격 조절 */
  margin-left: 0.9375rem; /* 16 브라우저 기준 15px */
  flex-grow: 1; /* 메시지 내용과 시간 사이에 빈 공간 채우기 위한 flex-grow 설정 */
}
.talk > *,
time {
  margin-top: 0.3125rem; /* 16 브라우저 기준 5px */
  margin-bottom: 0.3125rem;
}
.friend-name {
  /* 프로필명(이름) 스타일 조정 */
  font-weight: bold;
  font-size: 0.875rem; /* 16 브라우저 기준 14px */
}
.chat-content {
  /* 메시지(채팅) 내용 스타일 조정 */
  color: gray;
  font-size: 0.75rem; /* 16 브라우저 기준 12px */
}
.me {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.125rem; /* 16폰트 브라우저 기준 2px */
  margin-right: 0.125rem;

  vertical-align: middle;
  font-size: 0.625rem; /* 16 브라우저 기준 10px */
  color: white;
}

.chat-status {
  flex-basis: 4.5rem; /* 72p */
  flex-shrink: 0; /* 유연하게 사이즈 조절 불가토록 설정 */
  text-align: right;
}
time {
  display: block;
  color: rgb(194, 194, 194);
  font-size: 0.625rem; /* 16 브라우저 기준 10px */
}
.chat-balloon {
  /* 안읽은 메시지 수(count) 표시 스타일 지정 */
  display: inline-block;
  border: 1px solid tomato;
  background-color: tomato;
  border-radius: 0.625rem;
  font-size: 0.3125rem;
  color: white;
  font-weight: bold;
  padding-top: 0.0625rem; /* 16 브라우저 기준 1px */
  padding-bottom: 0.0625rem;
  padding-left: 0.25rem; /* 16 브라우저 기준 4px */
  padding-right: 0.25rem;
}

a:visited,
a:link {
  color: gray;
  text-decoration: none;
}
/* 설정바 스타일 지정 */
.setting_bar {
  grid-area: setting;
  line-height: 2.5rem;
  vertical-align: middle;
  margin-right: 0.625rem;
  position: sticky;
  top: 0;
  background-color: white;
}
.setting_bar > * {
  line-height: 1.875rem; /* grid row의 첫번째 크기와 동일 */
  vertical-align: middle;
  /* 가운데 정렬 목적 */
}
