body {
  margin: 0;
  height: 100%;
  font-family: fontello, "Nanum Gothic", sans-serif, Arial;
  /* background-color: white; */
}
html {
  height: 100%;
}

/* grid container 적용 */
#chat-body {
  top: 0;
  left: 0;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(3.125rem, auto) 6.25rem;
  grid-template-rows: 2.5rem 2.5rem auto;
  align-items: stretch;
  grid-template-areas:
    " header   setting  "
    " header  main_menu "
    "  main     main    ";
}

/* 배경화면 설정 */
#chat-body,
.setting_bar,
.main-menu,
header {
  background-color: #a8c0d6;
  background-repeat: repeat;
  background-position: top left;
  background-attachment: fixed;
  z-index: 98;
}

/* 설정바 스타일 지정 */
.setting_bar {
  grid-area: setting;
  line-height: 2.5rem;
  vertical-align: middle;
  margin-right: 0.625rem;
  position: sticky;
  top: 0;
}

/* 프로필 사진, 프로필명 등 헤더 스타일 지정 */
header {
  grid-area: header;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0.625rem;
}
.profile-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.profile-img {
  width: 2.2rem;
  margin-right: 0.625rem;
}
header * {
  font-size: 1rem;
  font-weight: bold;
  color: grey;
}

/* main(채팅내용) 스타일 지정 */
main {
  /* 채팅내용 영역 전체 flex box 적용 */
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* main(채팅내용) 여백 지정 */
.chat-content {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

/* 말풍선 공통 스타일 지정 */
.friend-chat-col,
.me-chat-col {
  display: flex;
  /* flex-direction: column; */
  flex-direction: column;
  position: relative;
}

/* 친구의 채팅 말풍선들 flex 레이아웃 구성 */
.friend-chat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}
.friend-chat > .profile-img {
  align-self: flex-start;
}
.friend-chat-col > .balloon {
  margin-top: 0.3125rem;
  padding: 0.4375rem;
  border: 1px solid rgb(228, 233, 230);
  border-radius: 0.1875rem;
  background-color: rgb(228, 233, 230);
  font-size: 0.8125rem;
  color: black;
}
.friend-chat-col > .balloon::before {
  content: "";
  border-bottom: 0.6875rem solid transparent;
  border-right: 0.6875rem solid rgb(228, 233, 230);
  position: absolute;
  top: 1.563rem;
  left: -0.5rem;
}

/* 나의 채팅 말풍선들 flex 레이아웃 구성 */
.me-chat {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 0.625rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}
.me-chat-col > .balloon {
  margin-top: 0.3125rem;
  padding: 0.4375rem;
  border: 1px solid #f9eb54;
  border-radius: 0.1875rem;
  background-color: #f9eb54;
  font-size: 0.8125rem;
  color: rgb(0, 0, 0);
}
.me-chat-col > .balloon::before {
  content: "";
  border-bottom: 0.6875rem solid transparent;
  border-left: 0.6875rem solid #f9eb54;
  position: absolute;
  top: 0.625rem;
  right: -0.5rem;
}

.main-chat time {
  align-self: flex-end;
  flex-basis: 3.75rem;
  flex-shrink: 0;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  font-size: 0.75rem;
  color: rgb(88, 88, 88);
  text-align: center;
}
.friend-chat > time {
  margin-right: 2.5rem;
}
.me-chat > time {
  margin-left: 2.5rem;
}

/* 날짜선(date-line) 스타일 지정 */
.date-line {
  /* flex 사용 */
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgb(88, 88, 88);
  font-size: 0.875rem;
}
.date-line::before,
.date-line::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(88, 88, 88, 0.3);
  font-size: 0px;
  line-height: 0px;
}

/* 채팅 입력창 스타일 지정 */
.insert-content {
  background-color: rgb(255, 255, 255);
  padding: 0.4375rem;
  position: fixed;
  width: 99%;
  bottom: 0;
  margin: none;
}
textarea {
  resize: none;
  border: none;
  height: 5rem;
}

/* 채팅 입력창 flex로 정렬 */
form[name="chatform"] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: sticky;

  bottom: 0;
}
form[name="chatform"] > textarea {
  flex-basis: 100%;
  flex-grow: 1;
}
.chat-submit {
  margin-left: 10px;
  border: 1px solid gray;
  background-color: rgb(248, 248, 248);
  color: gray;
  padding: 0.1875rem;
  width: 3.125rem;
  transition-property: background-color, color;
  transition-timing-function: linear;
}
.chat-submit:hover {
  background-color: #f9eb54;
  color: rgb(0, 0, 0);
}

/* 상단 설정바 조절 */
.setting_bar {
  text-align: right;
  grid-area: setting;
  position: sticky;
  top: 0;
}
a:link {
  text-decoration: none;
}

.btn-exit {
  display: inline-block;
  padding: 5px;
  font-size: 2rem;
  color: grey;
}
